.blog {
    color: white;
    background-color: #212129;
}

.blog .toHome {
    background-image: url('media/leftHome.png');
    margin-left: 10px;
}
.blog-container {
    position: relative;
    padding: 10px;
    border: 2px solid #ffffff;
    transition: .3s ease;
}
.blog-container:hover {
    background: white;
    color: #212129; 
}

.blog-list{
    max-width: 85%;
    padding-left: 7.5%;
}

.blog a {
    text-decoration: none;
    padding: 10px;
    top: 20%;
}
.blog button {
    position: absolute;
    left: 0;
}

.blog-entry {
    height: 100vh;
    padding: 5% 25%;
    background-color: #212129;
    overflow-y: auto;
}

.blog-entry h1 {
    text-align: center;
}

.blog-entry h2 {
    padding-top: 20px;
    font-weight: bold;
}

.blog-entry h3 {
    font-weight: initial;
}

.blog-entry p {
    padding-top: 20px;
}

.blog-container {
    position: relative;
    padding: 10px;
    /* width: auto;
  height: auto; */
    border: 2px solid #ffffff;
    /* margin: 200px auto; */
}

.blog .toHome {
    background-image: url('media/leftHome.png');
}