* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* Add this line */
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    line-height: 1.6em;
    margin: 0;
    display: grid;
    width: 100vw;
    /* Change to grid layout */
    grid-template-columns: 100px 1fr;
    /* Create two columns: one for nav and one for content */
}

#main-content {
    grid-column: 2 / 3;
    /* Place in second column */
    /* padding-right: 50px; */
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

}

#main-content h2{
    padding-top: 20px;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-bottom: 2px solid #bbb; */
    /* padding: 20px; */
    text-align: center;
    height: 100vh;
}

#title h1 {
    margin: 0;
    /* border-bottom: 1px solid #bbb; */
    /* Medium Gray */
    padding-bottom: 10px;
}

#social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#social-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    /* Dark Gray */
    position: relative;
}

#social-links a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 50%;
    background-color: #0077cc;
    /* Blue */
    transition: all .3s ease-in-out;
}

#social-links a:hover::before {
    width: 100%;
    left: 0;
}

#social-links a:hover {
    color: #0077cc;
    /* Blue */
    transition: color .3s ease-in-out;
}

section {
    padding-top: 40px;
    height: 100vh;
    /* scroll-snap-align: center; */
    scroll-snap-align: center;
    /* overflow: hidden; */
    overflow-y: scroll;
}

section h2 {
    border-bottom: 1px solid #bbb;
    /* Medium Gray */
    padding-bottom: 10px;
    text-align: center;
}

#about {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#about a.resume-link {
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #007bff;
    transition: color 0.3s ease;
}

#about a.resume-link::before,
#about a.resume-link::after {
    content: "";
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease;
}

#about a.resume-link::before {
    top: 0;
    transform-origin: left;
    transform: scaleX(0);
}

#about a.resume-link::after {
    bottom: 0;
    transform-origin: right;
    transform: scaleX(0);
}

#about a.resume-link span::before,
#about a.resume-link span::after {
    content: "";
    position: absolute;
    background-color: #000;
    width: 2px;
    height: 100%;
    top: 0;
    transition: all 0.3s ease 0.3s;
}

#about a.resume-link span::before {
    left: 0;
    transform-origin: top;
    transform: scaleY(0);
}

#about a.resume-link span::after {
    right: 0;
    transform-origin: bottom;
    transform: scaleY(0);
}

#about a.resume-link:hover {
    color: #000;
}

#about a.resume-link:hover::before {
    transform: scaleX(1);
}

#about a.resume-link:hover::after {
    transform: scaleX(1);
}

#about a.resume-link:hover span::before {
    transform: scaleY(1);
}

#about a.resume-link:hover span::after {
    transform: scaleY(1);
}

#about p {
    flex: 1;
    margin: 10px 15%;
}

#about img {
    max-width: 500px;
    height: auto;
    margin-top: 20px;
    padding-bottom: 50px;
}


.nav {
    position: sticky;
    /* Sticky instead of fixed */
    top: 0;
    grid-column: 1 / 2;
    /* Place in first column */
    height: 100vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* overflow: auto; */
    transition: transform .3s ease-in-out;
    /* Change this line */
    will-change: transform;
    /* Add this line, hint to browser that this property will be animated */
}


.nav-link {
    text-decoration: none;
    color: #333;
    margin-bottom: 15px;
    transition: all .3s ease-in-out;
}

.nav-link.active {
    padding-left: 15px;
    box-shadow: 5px 0 0 #0077cc inset;
}

.nav-link:hover {
    padding-left: 15px;
    box-shadow: 5px 0 0 #0077cc inset;
}


#githubTable table {
    /* padding-top: 50%; */
    width: 100%;
    border-collapse: collapse;
}

#githubTable th,
#githubTable td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #bbb;
}

#githubTable th {
    background-color: #f4f4f4;
    color: #333;
}

#githubTable td {
    color: #333;
}

#githubTable tr:hover td {
    background-color: #f5f5f5;
}

#githubTable td a {
    color: #0077cc;
    text-decoration: none;
}

#githubTable td a {
    position: relative;
}

#githubTable td a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #005999;
    transition: all .3s ease-in-out;
}

#githubTable td a:hover::before {
    width: 100%;
    left: 0;
    transform: translateX(0%);
}

#githubTable td a:hover {
    color: #005999;
    text-decoration: none;
}


/* Media queries for smaller screens */
@media screen and (max-width: 600px) {
    body {
        grid-template-columns: 1fr;
        /* Change to single column layout */
    }

    section h2 {
        text-align: center;
        /* Change from 100vh to auto */
    }

    #main-content {
        /* add padding on left and right for all children of 20px */
        padding: 0 20px;
    }


    .nav {
        position: relative;
        /* Change from sticky to relative */
        height: auto;
        /* Change from 100vh to auto */
        display: none;
        /* Hide navigation bar */
    }

    .nav-link {
        font-size: 1.5em;
        /* Increase font size */
    }
}