@font-face { font-family: RandyGG; src: url('fonts/RandyGGRegular.ttf'); } 
@font-face { font-family: RandyGG; font-weight: bold; src: url('fonts/RandyGGBold.ttf');}

* {
    margin: 0;
    font-family: RandyGG;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden;

  }
  .container {
    height: 100vh;
    width: 200vw;
    
    display: flex;
    flex-wrap: wrap;
  }
  .container > div {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  button {
    padding: 0.3rem;
  }
  
  h1 {
    color: #ffffff;
  }
  
  .splash {  
    background-image: url("media/subway.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .splash button:nth-child(2) {
    position: absolute;
    right: 0;
  }
  .splash button:last-child {
    position: absolute;
    bottom: 0;
  }
  
  .about {
    background: #212129;

  }
  .about button {
    position: absolute;
    top: 0;
  }
  
  .blog {
    background: #212129;
  }
  .blog button {
    position: absolute;
    left: 0;
  }
  
  .container {
    transition: transform 0.3s ease 0.1s;
  }
  
  .toBlog {
    transform: translateX(-100vw);
  }
  
  .toAbout {
    transform: translateY(-100vh);
  }
  
  