.splash {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("media/longExposure.jpg");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.splash h1 {
    color: white;
}

.splash button:nth-child(1) {
    position: absolute;
    left: 0;
    background-image: url('media/leftProj.png');
}

.splash button:nth-child(3) {
    /* Button to blog*/
    position: absolute;
    right: 0;
    background-image: url('media/rightBlog.png');
}
.splash button:last-child {
    /* Button to About*/
    position: absolute;
    bottom: 0;
    background-image: url('media/downAbout.png');
}